/* Header */
header.home { position: relative; display: flex; align-items: center; justify-content: center; height: 100%; max-height: 75vw; }

.content { text-align: center; padding: 0 1rem; }

.name { position: relative; display: inline-block; margin: 0 auto 2rem; padding: 1rem 0 1rem 1.5rem; color: #FBFBFB; user-select: none; overflow: hidden; }
.name:before { content: ''; position: absolute; top: 115px; left: -125px; width: 105%; height: 255%; background: var(--main-colour); transform-origin: top left; transform: rotate(-45deg); } 
  
.name .subtitle { position: relative; display: block; letter-spacing: 1.69rem; margin-bottom: 0.5rem; padding-left: 6px; text-transform: lowercase; font-size: 1.25rem; }
.name .subtitle span { position: relative; display: inline-block; }
  
.name h1 { display: flex; margin: 0; padding: 0; font-weight: 800; font-size: 12rem; line-height: 0.8; color: #FBFBFB; text-transform: uppercase; overflow: hidden; } 
.name h1 span { position: relative; display: inline-block; padding: 0; background: none; box-shadow: none; line-height: inherit; animation: bottom-in 0.75s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.130, -0.060, 0.000, 1.190); transform: translateY(100%); }
  
header p:nth-of-type(1) { margin-bottom: 0.875rem; font-size: 1.75rem; font-weight: 500; letter-spacing: 0.0625rem; }
header p:nth-of-type(2) { font-size: 1rem; }

.scroll-icon { position: absolute; bottom: 4rem; left: 50%; transform:translateX(-50%) rotate(45deg); padding: 0; width: 2.5rem; height: 2.5rem; background: none; border: none; border-bottom: 3px solid var(--main-colour); border-right: 3px solid var(--main-colour); cursor: pointer; }

#work > p:first-of-type,
#other > p:first-of-type { margin-bottom: 2rem; }

/* Work */
.work-item { display: flex; align-items: center; margin-bottom: 3rem; }
.work-item:nth-of-type(2n) { flex-direction: row-reverse; }
.work-item:last-child { margin: 0; }

.work-item > div { transition: transform 0.5s; }

.work-item .image {position: relative;flex-basis: calc(50% + 0.5rem);overflow: hidden;}
.work-item .image:after { content: ''; display: block; padding-top: 56.25%; }
.work-item .image img { position: absolute; top: 0; left: 0; width: 100%; }

.work-item .description { display: flex; flex-wrap: wrap; flex: 1; align-items: center; }
.work-item:nth-of-type(2n-1) .description {transform: translateX(-1.5rem);}
.work-item:nth-of-type(2n) .description {justify-content: flex-end;text-align: right;transform: translateX(1.5rem);}

.work-item h3 { padding-left: 0.75rem; padding-right: 0.75rem; }

.work-item .description > div { padding: 1rem; background: var(--light-colour); }

.work-item .excerpt { max-width: 35rem; font-size: 1rem; }

.work-item .read-more { color: var(--main-colour); font-weight: 600; text-decoration: none; }

/* Other */
.other-articles { display: flex; flex-wrap: wrap; align-items: flex-start; margin: 0 -1rem -1.5rem; }

.other-item { position: relative; display: flex; flex-wrap: wrap; flex-basis: 33.33%; align-items: flex-start; margin-bottom: 1.5rem; padding: 0 1rem; }

.other-item > div { transition: transform 0.5s; }

.other-item .image { position: relative; flex-basis: 75%; }
.other-item .image:after { content: ''; display: block; padding-top: 100%; }
.other-item .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }

.other-item .description { position: relative; width: 75%; margin: -33% 0 0 25%; padding: 1rem; background: var(--light-colour); }
.other-item .description h3 { margin-bottom: 0.875rem; padding: 0.3125rem 0.75rem; font-size: 1.125rem; }
.other-item .description p { margin-bottom: 0.5rem; font-size: 0.875rem; }
.other-item .read-more { color: var(--main-colour); font-size: 0.875rem; font-weight: 600; text-decoration: none; }

/* Animations */
@media (prefers-reduced-motion: no-preference) {
    header nav { animation: fade-in 1s; animation-delay: 2s; animation-fill-mode: forwards; opacity: 0; }

    .name:before { animation: expand 1.25s; }

    .name .subtitle span { animation: top-fade-in 0.5s; animation-fill-mode: forwards; opacity: 0; }
    .name .subtitle span:nth-child(1) { animation-delay: 0.1s; }
    .name .subtitle span:nth-child(2) { animation-delay: 0.225s; }
    .name .subtitle span:nth-child(3) { animation-delay: 0.35s; }
    .name .subtitle span:nth-child(4) { animation-delay: 0.475s; }

    .name h1 span { animation: bottom-in 0.75s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier(0.130, -0.060, 0.000, 1.190); }
    .name h1 span:nth-child(1) { animation-delay: 0.6s; }
    .name h1 span:nth-child(2) { animation-delay: 0.7s; }
    .name h1 span:nth-child(3) { animation-delay: 0.8s; }
    .name h1 span:nth-child(4) { animation-delay: 0.9s; }

    header p:nth-of-type(1) { animation: bottom-fade-in 1s; animation-delay: 1.5s; animation-fill-mode: forwards; opacity: 0; }
    header p:nth-of-type(2) { animation: bottom-fade-in 1.75s; animation-delay: 1.6s; animation-fill-mode: forwards; opacity: 0; }

    .scroll-icon { animation: fade-in 1s, bounce 5s infinite; animation-delay: 2s; animation-fill-mode: forwards; opacity: 0; }

    @keyframes bounce {
        40% { 
            transform:translateX(-50%) rotate(45deg);
        }
        44% {
            transform:translateX(-50%) translateY(1rem) rotate(45deg);
        }
        48% {
            transform:translateX(-50%) rotate(45deg);
        }
        52% {
            transform:translateX(-50%) translateY(1rem) rotate(45deg);
        }
        56% {  
            transform:translateX(-50%) rotate(45deg);
        }
    }

    @keyframes expand {
        from { transform: rotate(-45deg) scaleY(0); }
        to { transform: rotate(-45deg) scaleY(1); }
    }

    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes top-fade-in {
        from { transform: translateY(-100%); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }

    @keyframes bottom-fade-in {
        from { transform: translateY(100%); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }

    @keyframes bottom-in {
        from { transform: translateY(100%); }
        to { transform: translateY(0); }
    }
}

@media screen and (max-width: 600px){
    .name { padding: 1rem 0.75rem 1rem 1rem; }
    .name:before { top: 65px; left: -85px; }
    .name .subtitle { position: absolute; margin-bottom: 0.25rem; padding-left: 0.825rem; letter-spacing: 0.8125rem; font-size: 1rem; }
    .name h1 { margin-top: 1.375rem; font-size: 7rem; }

    header.home p:nth-of-type(2) { max-width: 275px; margin: 0 auto; }

    .scroll-icon { bottom: 3rem; }
}

@media (min-width: 700px) and (max-width: 950px) {  
    .work-item .excerpt { font-size: 0.875rem; }

    #work > p:first-of-type,
    #other > p:first-of-type { margin-bottom: 1.25rem; }
}

@media (max-width: 700px) { 
    header.home { max-height: 100vh; }

    header.home p:nth-of-type(1) { font-size: 1.375rem; }

    .work-item { flex-wrap: wrap; }
    .work-item .image { flex-basis: 100%; }
    .work-item .description,
    .work-item:nth-of-type(2n-1) .description,
    .work-item:nth-of-type(2n) .description { transform: translate(0, 0); }
    .work-item .description > div { padding: 1rem 0; }
    .work-item .excerpt,
    .work-item .read-more { font-size: 0.875rem; }

    .other-articles { margin: 0 -1rem -1rem; }
    .other-item { flex-basis: 100%; margin-bottom: 1rem; }
    .other-item .image { flex-basis: 50%; }
    .other-item .description { margin: -25% 0 0 25%; }
}