<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>{{ site.title }}</title>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/tpl/home.css"/>
    </head>
    <body class="default no-js">
        <script>
        document.querySelector('body').classList.remove('no-js');
        const cookies = decodeURIComponent(document.cookie);
        const index = cookies.indexOf('darkMode');

        if(index !== -1){
            document.querySelector('body').classList.remove('default');
            document.querySelector('body').classList.add(['light', 'dark'][cookies.substr(index+9, 1)]);
        }else if(window.matchMedia('(prefers-color-scheme:dark)').matches){
            document.querySelector('body').classList.add('dark');
        }
        </script>
        {% include home/header.html %}

        <main>
            {% include home/about.html %}
            {% include home/work.html %}
            {% include home/other.html %}
        </main>

        {% include footer.html %}
    </body>
</html>