<!DOCTYPE html>
<html lang="en-GB">
    <head>
		<title>Josh.ee - {{ page.title }}</title>
		{% include head.html %}
		<link rel="stylesheet" href="/assets/css/tpl/post.css"/>
		<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    </head>
    <body class="default no-js">
		<script>
		document.querySelector('body').classList.remove('no-js');
		const cookies = decodeURIComponent(document.cookie);
		const index = cookies.indexOf('darkMode');
		
		if(index !== -1){
			document.querySelector('body').classList.remove('default');
			document.querySelector('body').classList.add(['light', 'dark'][cookies.substr(index+9, 1)]);
		}else if(window.matchMedia('(prefers-color-scheme:dark)')){
			document.querySelector('body').classList.add('dark');
		}
		</script>
		{% include header.html %}

		<main>
			<section>
                <div class="page-info">
					<img src="{{ page.image_large }}" aria-hidden="true"/>
					<div>
						{% if page.type %}
							<p class="category"><span>{{ page.type }}</span></p>
						{% endif %}
						<h1><span>{{ page.title }}</span></h1>
					</div>
                </div>
				<article>
					{{ content }}
				</article>
			</section>
		</main>
		
		{% include footer.html %}
		<script src="/assets/js/post.js"></script>
    </body>
</html>
