<section id="work">
    <h2><span>my work</span></h2>
    <p>Here are some things that I've worked on in the past.</p>
    {% assign sorted = (site.work | sort: 'date') | reverse %}
    {% for post in sorted %}
        <div class="work-item">
            <div class="image">
                <img src="{{ post.image_small }}" aria-hidden="true">
            </div>
            <div class="description">
                <div>
                    <h3><span>{{ post.title }}</span></h3>
                    <p class="excerpt">{{ post.description }}</p>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="read-more" title="Read more about {{ post.title }}">read more</a>
                </div>
            </div>
        </div>
    {% endfor %}
</section>